
config service 'service'
	option enabled '0'

config client 'client'
	option client_id ''
	option client_slot '0'

config server 'server'
	option host 'remsim.example.com'
	option port '9998'
	option atr ''
	option atr_ignore_rspro '0'

config modems 'modems'
	option dual_modem '0'
	option device '/dev/ttyUSB2'
	option sim_switch_gpio '20'
	option reset_gpio '21'

config modem1 'modem1'
	option device '/dev/ttyUSB2'
	option sim_switch_gpio '20'
	option reset_gpio '21'

config modem2 'modem2'
	option device '/dev/ttyUSB5'
	option sim_switch_gpio '22'
	option reset_gpio '23'

config ionmesh 'ionmesh'
	option enabled '0'
	option host 'ionmesh.example.com'
	option port '5000'
	option tenant_id '1'
	option mapping_mode 'ONE_TO_ONE_SWSIM'
	option mcc_mnc ''

config logging 'logging'
	option debug '0'
	option log_categories 'DMAIN:DPCU'
	option syslog '1'

config routing 'routing'
	option force_iot_routing '1'
	option iot_interface 'wwan1'

config advanced 'advanced'
	option event_script '/etc/remsim/event-script.sh'
	option keep_running '1'

config heartbeat 'heartbeat'
	option interval '60'
	option timeout '10'

config security 'security'
	option use_tls '0'
	option ca_cert '/etc/ssl/certs/ca-certificates.crt'
	option client_cert ''
	option client_key ''
